.WeatherItem {
        height: 100%;
        width:100%;
        text-align: center;
        color: #fff;
        position: relative;
}

.Location {
    font-size: 2pc;
    font-weight: 700;
    line-height: 1em;
    margin: 2pc 0 .5em;
}

.TemperatureInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:orange;
    width:25px;
    height:25px;
}

.Timestamp {
    align-self: center;
    margin-top: 2pc;
    font-size: 1.3em;
    margin-bottom: 2em;
    line-height: 1em;
}